@charset "UTF-8";
/*
Theme Name:          Twenty Twenty Child
Theme URI:           http://helsekompetanse.no
Gitlab Theme URI:    helse/twentytwenty-child
Description:         Twenty Twenty Child Theme for learning content
Author:              Johan S. Steinberg
Author URI:          http://helsekompetanse.no
Template:            twentytwenty
Version:             1.1.0
License:             GNU General Public License v2 or later
License URI:         http://www.gnu.org/licenses/gpl-2.0.html
Tags:                light, dark, left-sidebar, responsive-layout, accessibility-ready
Text Domain:         twentytwentychild
*/

/* Fix text color for code elements with background */
caption, code, code, kbd, samp, .wp-block-table.is-style-stripes tbody tr:nth-child(2n+1), :root .has-subtle-background-background-color {
	background-color: #dbdbdb; /* Styling from parent theme. Have it here so nothing breaks if it is removed from parent theme. */
	color: black;
}

/* Fix hover text color */
.has-text-color a:hover {
	color: inherit;
}

/* Fix accessibility for sub menu on backgrounds of same color */
.primary-menu .sub-menu {
	box-shadow: 0 1rem 1rem rgba(0,0,0,.25);
}

/* Fix left/right aligned cover block height */
.wp-block-cover.alignleft, .wp-block-cover-image.alignleft,
.wp-block-cover.alignright, .wp-block-cover-image.alignright {
	height: unset;
}

/* Center caption text */
figcaption,
.wp-caption-text {
	text-align: center;
}

/* To be able to use group block to set content width */
.entry-content .wp-block-group.alignwide > [class*="__inner-container"] > * {
	max-width: 100% !important;
}

/*
 * Lang menu
 */
.lang-menu-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 168rem;
}
.lang-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	font-size: 0.842em;
	padding: 0 1rem;
}
.lang-menu a {
	font-weight: 500;
	letter-spacing: -0.0277em;
	padding: 0 1rem;
	text-decoration: none;
}
.lang-menu a:hover,
.lang-menu a:focus {
	text-decoration: underline;
}
@media (min-width: 700px) {
	.lang-menu {
		padding: 0 3rem;
	}
}

/*
 * Site header
 */
#site-header {
	z-index: 2;
}
.site-logo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	font-size: 2.4rem;
	font-weight: 700;
	line-height: 1;
}
.site-logo > :first-child {
	padding-right: .25em;
}
.site-logo a {
	color: inherit;
	text-decoration: none;
}
.site-logo:hover a,
.site-logo a:hover,
.site-logo a:focus {
	text-decoration: underline;
}

/*
 * Hidden entry header template
 */

.template-hidden-entry-header.singular .entry-header {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

/*
 * Left menu
 */

main .left-menu-wrapper {
	display: none;
	position: relative;
	z-index: 1;
}
.left-menu-wrapper.wp-block-cover {
	height: unset !important;
	min-height: unset !important;
	padding-top: 2rem;
}
main .left-menu-wrapper ul,
.left-menu-wrapper.wp-block-cover p {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
main .left-menu-wrapper ul {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	list-style: none;
	margin-left: 0;
}
.left-menu-wrapper.from-template ul.level-1 > li > ul,
main .left-menu-wrapper li {
	margin-left: 0;
}
main .left-menu-wrapper ul > li > ul {
	margin-left: 1em;
}
.left-menu-wrapper a {
	text-decoration: none;
}
.left-menu-wrapper a:focus,
.left-menu-wrapper a:hover {
	text-decoration: underline;
}
main .left-menu-wrapper a[aria-current="page"] {
	color: black;
}
.left-menu-wrapper.from-template ul.level-1 > li:not([class*="current_page_"]) {
	display: none;
}
.left-menu-wrapper.from-template ul.level-1 > li[class*="current_page_"] {
	font-size: 2.1rem;
}
@media (min-width: 1000px) {
	main .left-menu-wrapper {
		display: block;
		max-width: 176rem;
		margin-right: auto;
		margin-left: auto;
	}
	main .left-menu-wrapper ul.level-1 {
		width: unset;
		max-width: 16vw !important;

		position: absolute;
		left: 4rem;
	}
}

/*
 * Breadcrumbs
 */

.breadcrumbs.entry-categories {
	position: relative;
	left: -1rem;
}
.breadcrumbs.entry-categories a {
    margin-left: 2rem;
}
.breadcrumbs.entry-categories a:after {
	content: '';
	display: inline-block;
	background: currentColor;
	margin-top: .1em;
	margin-left: .6em;
	transform: rotate(22.5deg);

	width: 0.15rem;
	height: 1em;

	position: absolute;
}

/*
 * Framework classes
 */

/* Display classes */
.d-block {
	display: block;
}
.d-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.flex-wrap { flex-wrap: wrap; }

/* Font classes */
.widget_text .font-sans,
.entry-content .font-sans,
.font-sans {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }

/* Width and height */
.w-100 { width: 100%; }

/* Margins and paddings */
.m-0  { margin:        0      !important; }
.m-1  { margin:        .25rem !important; }
.m-2  { margin:        .5rem  !important; }
.m-3  { margin:        1rem   !important; }
.m-4  { margin:        2rem   !important; }
.m-5  { margin:        3rem   !important; }
.mt-0 { margin-top:    0      !important; }
.mt-1 { margin-top:    .25rem !important; }
.mt-2 { margin-top:    .5rem  !important; }
.mt-3 { margin-top:    1rem   !important; }
.mt-4 { margin-top:    2rem   !important; }
.mt-5 { margin-top:    3rem   !important; }
.mr-0 { margin-right:  0      !important; }
.mr-1 { margin-right:  .25rem !important; }
.mr-2 { margin-right:  .5rem  !important; }
.mr-3 { margin-right:  1rem   !important; }
.mr-4 { margin-right:  2rem   !important; }
.mr-5 { margin-right:  3rem   !important; }
.mb-0 { margin-bottom: 0      !important; }
.mb-1 { margin-bottom: .25rem !important; }
.mb-2 { margin-bottom: .5rem  !important; }
.mb-3 { margin-bottom: 1rem   !important; }
.mb-4 { margin-bottom: 2rem   !important; }
.mb-5 { margin-bottom: 3rem   !important; }
.ml-0 { margin-left:   0      !important; }
.ml-1 { margin-left:   .25rem !important; }
.ml-2 { margin-left:   .5rem  !important; }
.ml-3 { margin-left:   1rem   !important; }
.ml-4 { margin-left:   2rem   !important; }
.ml-5 { margin-left:   3rem   !important; }

.p-0  { padding:        0      !important; }
.p-1  { padding:        .25rem !important; }
.p-2  { padding:        .5rem  !important; }
.p-3  { padding:        1rem   !important; }
.p-4  { padding:        2rem   !important; }
.p-5  { padding:        3rem   !important; }
.pt-0 { padding-top:    0      !important; }
.pt-1 { padding-top:    .25rem !important; }
.pt-2 { padding-top:    .5rem  !important; }
.pt-3 { padding-top:    1rem   !important; }
.pt-4 { padding-top:    2rem   !important; }
.pt-5 { padding-top:    3rem   !important; }
.pr-0 { padding-right:  0      !important; }
.pr-1 { padding-right:  .25rem !important; }
.pr-2 { padding-right:  .5rem  !important; }
.pr-3 { padding-right:  1rem   !important; }
.pr-4 { padding-right:  2rem   !important; }
.pr-5 { padding-right:  3rem   !important; }
.pb-0 { padding-bottom: 0      !important; }
.pb-1 { padding-bottom: .25rem !important; }
.pb-2 { padding-bottom: .5rem  !important; }
.pb-3 { padding-bottom: 1rem   !important; }
.pb-4 { padding-bottom: 2rem   !important; }
.pb-5 { padding-bottom: 3rem   !important; }
.pl-0 { padding-left:   0      !important; }
.pl-1 { padding-left:   .25rem !important; }
.pl-2 { padding-left:   .5rem  !important; }
.pl-3 { padding-left:   1rem   !important; }
.pl-4 { padding-left:   2rem   !important; }
.pl-5 { padding-left:   3rem   !important; }

.my-0 { margin-top:    0      !important; margin-bottom: 0      !important; }
.my-1 { margin-top:    .25rem !important; margin-bottom: .25rem !important; }
.my-2 { margin-top:    .5rem  !important; margin-bottom: .5rem  !important; }
.my-3 { margin-top:    1rem   !important; margin-bottom: 1rem   !important; }
.my-4 { margin-top:    2rem   !important; margin-bottom: 2rem   !important; }
.my-5 { margin-top:    3rem   !important; margin-bottom: 3rem   !important; }
.py-0 { padding-top:    0      !important; padding-bottom: 0      !important; }
.py-1 { padding-top:    .25rem !important; padding-bottom: .25rem !important; }
.py-2 { padding-top:    .5rem  !important; padding-bottom: .5rem  !important; }
.py-3 { padding-top:    1rem   !important; padding-bottom: 1rem   !important; }
.py-4 { padding-top:    2rem   !important; padding-bottom: 2rem   !important; }
.py-5 { padding-top:    3rem   !important; padding-bottom: 3rem   !important; }

.mx-0 { margin-right:    0      !important; margin-left: 0      !important; }
.mx-1 { margin-right:    .25rem !important; margin-left: .25rem !important; }
.mx-2 { margin-right:    .5rem  !important; margin-left: .5rem  !important; }
.mx-3 { margin-right:    1rem   !important; margin-left: 1rem   !important; }
.mx-4 { margin-right:    2rem   !important; margin-left: 2rem   !important; }
.mx-5 { margin-right:    3rem   !important; margin-left: 3rem   !important; }
.px-0 { padding-right:    0      !important; padding-left: 0      !important; }
.px-1 { padding-right:    .25rem !important; padding-left: .25rem !important; }
.px-2 { padding-right:    .5rem  !important; padding-left: .5rem  !important; }
.px-3 { padding-right:    1rem   !important; padding-left: 1rem   !important; }
.px-4 { padding-right:    2rem   !important; padding-left: 2rem   !important; }
.px-5 { padding-right:    3rem   !important; padding-left: 3rem   !important; }
